<div class="row">


   <div class="col-md-7" id="introduction">
      <p class="about-me">I'm a web developer based in the Pacific Northwest. Programming combines everything I love about everything I do. I'm most fluent in Ruby on Rails and Angular. In my spare time I work on stuff in <a href="http://supercollider.github.io/">SuperCollider</a> and Processing.</p>
      <p class="about-me"><a href="mailto:matthew.hinea@gmail.com">Email me</a> if you want to know more, or if you know where the blue panda lives. </p>

      <p class="small float-right">Background photo of Hong Kong apartments by Michael Wolf.</p>
   </div>
   <div class="col-md-5 col-md-offset-0 col-sm-offset-0">

      <div class="row">
         <div class="col-xs-12">
            <img id="profile-picture" src="/images/profile.jpg" alt="Profile picture.">
         </div>
      </div>
   </div>
</div>