<!--<script src="https://use.fontawesome.com/5a0f620669.js"></script>-->


<div class="row">

   <div class="col-md-10 col-md-offset-1">
      <div class="row">

         <div class="col-xs-4 col-sm-3 col-sm-offset-0">
            <a href="https://github.com/mnd-dsgn"><div ui-view="github"></div>
            </a>
         </div>
         <div class="col-xs-5 col-sm-3">
            <p class="data-link"><a href="https://www.linkedin.com/in/matt-hinea"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i> </a></p>
         </div>
         <div class="col-xs-4 col-xs-offset-2 col-sm-offset-0 col-sm-2">

            <p class="data-link"><a href="http://stackoverflow.com/users/6432429/matthew-hinea"><i class="fa fa-stack-overflow fa-3x" aria-hidden="true"></i></a></p>
         </div>
         <div class="col-xs-4 col-xs-offset-2 col-sm-offset-1 col-sm-3">
            <p class="data-link"><a href="https://medium.com/@hinea"><i class="fa fa-3x fa-medium" aria-hidden="true"></i>
            </a></p>
         </div>
      </div>


      <div class="row">

         <div class="col-xs-3 col-xs-offset-1 col-sm-offset-1">
            <p class="data-link"><a href="https://carroway.bandcamp.com/"><i class="fa fa-3x fa-music" aria-hidden="true"></i><br> </a></p>
         </div>
         <div class="col-xs-3 col-xs-offset-1 col-sm-offset-0 col-sm-2">
            <p class="data-link"><a href="http://www.last.fm/user/musicismylief"><i class="fa fa-3x fa-lastfm" aria-hidden="true"></i> </a></p>
         </div>
         <div class="col-xs-3 col-xs-offset-3 col-sm-offset-0 col-sm-1 col-md-2">
            <p class="data-link"><a href="https://www.goodreads.com/user/show/4593453-matthew-hinea"><i class="fa fa-book fa-3x" aria-hidden="true"></i> </a></p>
         </div>
         <div class="col-sm-2 col-xs-offset-8 col-sm-offset-1 col-md-offset-0">
            <p class="data-link"><a href="https://www.strava.com/athletes/3642630"><i class="fa fa-3x fa-bicycle" aria-hidden="true"></i> </a></p>
         </div>
      </div>
   </div>
</div>